.container
	.row
		.heading
			margin-top: 100px
			background-color: green
			.order-heading
				font-size: 23px;
				color: #333333
				float: left
				line-height: 1.2
			span
				margin-left: 45px
				color: #FFC000
		.icon
			margin-top: 95px
			display: flex
			justify-content: space-between
			.icon-style
				font-size: 22px
				color: #333333
	.row
		.logo	
			img
				width: 100%	
		.taxi-order
			h5
				font-weight: bold
				color: #333333
			p
				color: #828282
				font-size: 15px	
				line-height: 1			